

html {
    background-image: linear-gradient(#fc5e55, #fa4083);
}

body {
    background-image: url(../icons/image-lion-background.png);
    background-repeat: no-repeat;
    background-position: top center;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

.navbutton {
    padding: 10px 25px;
    border: 1px solid white;
    text-align: center;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
}

.navbutton .dropdown {
    visibility: hidden;
    position: absolute;
    margin: 20px 0 0 -27px;
}

.navbutton:hover .dropdown {
    visibility: visible;
    transition-duration: 0.4s;
}

.dropdown .navbutton {
    background-color: #fff;
}
.dropdown .navbutton a {
    color: #fa4083;
}
.dropdown .navbutton:hover {
    background-color: #000;
    transition-duration: 300ms;
}