/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300&display=swap');
/* Usage

font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
*/
html {
    /* height: 100%; */
    background-image: linear-gradient(#fc5e55, #fa4083); 
}

body {
    background-image: url(../icons/image-lion-background.png);
    background-repeat: no-repeat;
    background-position: top center;
}

.container {
    width: 1024px;
    margin: 0 auto;
    min-height: 300px;
}

/* HEADER PART STYLES */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #fff;
}

a {
    color: #fff;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
}

/* NAVBUTTONS */
.navbutton {
    padding: 10px 25px;
    border: 1px solid white;
    text-align: center;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
}

.navbutton .dropdown {
    visibility: hidden;
    position: absolute;
    margin: 15px 0 0 -27px;
}

.navbutton:hover .dropdown {
    visibility: visible;
    transition-duration: 0.5s;
}

.dropdown .navbutton {
    background-color: #fff;
}
.dropdown .navbutton a {
    color: #fa4083;
    font-size: 90%;
}
.dropdown .navbutton:hover {
    background-color: #000;
    transition-duration: 0.3s;
}

/* MAIN PART STYLES */

main {
    min-height: 300px;
    display: flex;
    align-items: center;
}

.mainbox1 {
    flex: 2;
    color: white;
    padding-right: 7rem;
}

.mainbox2 {
    flex: 1;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3.25rem;
    margin-bottom: 1rem;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

main p {
    line-height: 1.2;
    margin-bottom: 0.5rem;
    font-family: 'Roboto', sans-serif;
}

.book-button {
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 2px;
    display: inline-block;
    background-color: #fff;
    color: #fa4083;
}

.book-button:hover {
    background-color: #3feb00;
}

/* CARDS PART STYLES */

.cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.card1, .card2, .card3{
    width: 30%;
    min-height: 250px;
    background-position: bottom;
    background-size: cover;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
    padding: 1rem;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-in-out;
}
.cards div:hover {
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.7);
    transform: scale(1.03);
}
i {
    font-size: 100px;
}
.card1 {
    background-image: url(../images/image-background-card1.jpg);
}
.card2 {
    background-image: url(../images/image-background-card2.jpg);
}
.card3 {
    background-image: url(../images/image-background-card3.jpg);
}

a p{
    font-size: 0.85rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

h2 {
    font-size: 2rem;
    margin: 0.75rem 0;
    font-family: 'Playfair Display', serif;
}

/* TESTIMONIAL PART STYLES */

.testimonials {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tbox {
    width: 48%;
    padding: 2.5rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    box-sizing: border-box;
    border: 1px solid white;
    font-family: 'Roboto', sans-serif;
}

em {
    margin-left: 1rem;
}

/* CONTACT PAGE STYLES */

.contact {
    display: block;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
form {
    margin: 20px 0;
}

#contact-h1 {
    padding-top: 2rem;
}

.inputwrapper {
    margin-bottom: 20px;
}
input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px 20px;
    font-size: 0.85rem;
    box-sizing: border-box;
}
label[for=phone]{
    margin-right: 20px;
}